<mat-input-container>
  <input matInput placeholder="Szukaj po kodzie" #codeFilter />
</mat-input-container>
<mat-form-field>
  <mat-label>Wybierz filter wypożyczenia</mat-label>
  <mat-select (selectionChange)="changeRentedFilter($event.value)">
    <mat-option
      *ngFor="let rentedFilter of rentedFilters"
      [value]="rentedFilter.value"
    >
      {{ rentedFilter.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="item-container mat-elevation-z8">
  <div class="loading-shade" *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>

  <div class="item-table-container">
    <table
      mat-table
      [dataSource]="data"
      class="item-table"
      matSort
      matSortActive="created"
      matSortDisableClear
      matSortDirection="desc"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="fullItemName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Nazwa przedmiotu
        </th>
        <td mat-cell *matCellDef="let item">{{ item.fullItemName }}</td>
      </ng-container>

      <ng-container matColumnDef="inventoryCode">
        <th mat-header-cell *matHeaderCellDef>Kod inwentarzowy</th>
        <td mat-cell *matCellDef="let item">{{ item.inventoryCode }}</td>
      </ng-container>

      <ng-container matColumnDef="itemType">
        <th mat-header-cell *matHeaderCellDef>Typ</th>
        <td mat-cell *matCellDef="let item">
          {{ itemTypeEnum[item.itemType] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="insideType">
        <th mat-header-cell *matHeaderCellDef>Typ środka</th>
        <td mat-cell *matCellDef="let item">{{ item.insideType }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Akcje
        </th>
        <mat-cell *matCellDef="let item">
          <button mat-icon-button (click)="handleView(item?.id)">
            <mat-icon aria-label="View">visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="openDeleteConfirmationDialog(item)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let item; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [length]="resultsLength"
    [pageSize]="[10]"
    [pageSizeOptions]="[10, 20, 100]"
  ></mat-paginator>
</div>
<div class="button-row">
  <button (click)="exportSelected($evnet)" mat-raised-button color="primary">Eksportuj zaznaczone</button>
  <button (click)="rentSelected($event)"mat-raised-button [disabled]="checkIfAllSelectedAreNotRented() || selection.selected.length === 0" color="primary">Wypożycz zaznaczone</button>
</div>