<mat-input-container>
    <input matInput placeholder="Szukaj po kodzie" #codeFilter>
  </mat-input-container>
  <div class="place-container mat-elevation-z8">
    <div class="loading-shade" *ngIf="loading">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <button mat-icon-button *ngIf="authenticationService.isAdmin()" (click)="handleAdd()">
      <mat-icon aria-label="Add">add_circle</mat-icon>
    </button>
    <div class="place-table-container">
      <table
        mat-table
        [dataSource]="data"
        class="place-table"
        matSort
        matSortActive="created"
        matSortDisableClear
        matSortDirection="desc"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Imię
          </th>
          <td mat-cell *matCellDef="let renter">{{ renter.name }}</td>
        </ng-container>

        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Naziwsko
            </th>
            <td mat-cell *matCellDef="let renter">{{ renter.surname }}</td>
          </ng-container>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Kod
            </th>
            <td mat-cell *matCellDef="let renter">{{ renter.code }}</td>
          </ng-container>
        
        <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      Akcje
    </th>
    <mat-cell *matCellDef="let renter;">
      <button mat-icon-button (click)="handleView(renter?.id)">
        <mat-icon aria-label="View">visibility</mat-icon>
      </button>
      <button mat-icon-button *ngIf="authenticationService.isAdmin()" (click)="openDeleteConfirmationDialog(renter)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
      <button mat-icon-button *ngIf="authenticationService.isAdmin()" (click)="handleEdit(renter.id)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let renter; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="[10]" [pageSizeOptions]="[10,20,100]"></mat-paginator>
  </div>
  