/* Structure */
.host-container {
    position: relative;
    min-height: 200px;
  }
  
  .host-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
    z-index: 7;
  }

  table {
    width: 100%;
    height: 100%;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  